.element {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    padding: 76px 200px;
    margin: 0 auto;
    list-style: none;
    gap: 20px 17px; 
  }
    
  @media screen and (max-width: 768px) {
    .element {
      grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
      gap: 12px;
      max-width: 320px;
      min-width: 288px;
      padding: 64px 16px;
    }
  }
  
