.element {
    margin: 36px auto 0;
    max-width: 282px;
  }
  
  @media screen and (min-width: 768px) {
    .element {
      margin: 50px auto 0;
      max-width: 581px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .element {
      max-width: 880px;
    }
  }